@media (max-width: 768px) {
#logo{
        width:100px;
        height:100px;
    }
     h1{
        font-size:18px;
    }
    nav, h2, footer{
        font-size:14px;
    }
}
@media (min-width: 768px) {
    body{
        font-size: 18px;
    }
    h1{
        font-size: 30px;
    }
    nav, h2, footer{
        font-size: 25px;
    }
    #logo{
        width:190px;
        height:190px;
    }
    .header, footer{
        height:220px;
    }
}
    body{
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-image: url();
        background-color:rgb(203, 247, 247);
        color: rgba(0, 0, 0, 0.733);
        background-size: cover;
        font-size: 12px;
    }
    header{
        background-color: rgba(86, 158, 187, 0.5);
        width:100%;
    }
    .header{
        border-radius: 20px;
        max-width:960px;
        height:100px;
    }
    main{ 
        vertical-align:center;
    }
   .text{
       max-width: 960px;
       border:2px solid rgb(107, 175, 184);
       background-color: rgb(221, 245, 245);
       border-radius: 20px;
   }
    a:visited{
        color:rgb(77, 72, 156);
    }
    a:link{
        color:rgb(15, 90, 160);
    }
    footer{
        background-color: rgba(86, 158, 187, 0.5);
        height:200px;
        width: 100%;
    }