@media (min-width: 576px) { 
    body{
        font-size: 1,2 rem;
    }
    #logo{
        width:120px;
        height:120px;
    }
    nav{
        font-size: 1,4 rem;
    }
}
@media (min-width: 768px) {
    body{
        font-size: 1,6 rem;
    }
}
    body{
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-image: url();
        background-color:rgb(203, 247, 247);
        color: rgba(0, 0, 0, 0.658);
        background-size: cover;
        font-size: 1 rem;
    }
    header{background-color: rgba(86, 158, 187, 0.5);
        width:100%;
    }
    .header{
        border-radius: 20px;
        max-width:960px;
        height:180px;
    }
    #logo{
        width:170px;
        height:170px;
    }
    h1{
       /* font-size: 30px;*/
       font-size: 1,2 rem;
        border-radius:20px;
    }
    h2{
        font-size: 1,1 rem;
    }
    main{ 
       
        vertical-align:center;
    }
    nav{
        font-size: 1,4 rem;
    }
    a:visited{
        color:rgb(77, 72, 156);
    }
    a:link{
        color:rgb(15, 90, 160);
    }

    footer{
        background-color: rgba(86, 158, 187, 0.5);
        height:180px;
        width: 100%;
    }