    body{
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-image: url();
        background-color:rgb(203, 247, 247);
        color: rgba(0, 0, 0, 0.658);
        background-size: cover;
        font-size: 18px;
    }
    header{background-color: rgba(86, 158, 187, 0.5);
        width:100%;
    }
    .header{
        border-radius: 20px;
        max-width:960px;
        height:180px;
    }
    #logo{
        width:200px;
        height:180px;
       /* border:2px solid gold;*/
    }
    h1{
       /* */
        font-size: 30px;
        border-radius:20px;
    }
    main{ 
       
        vertical-align:center;
    }
    nav{ max-width:960px;
        font-size: 25px;
    }
    a:visited{
        color:rgb(77, 72, 156);
    }
    a:link{
        color:rgb(15, 90, 160);
    }

    footer{
        background-color: rgba(86, 158, 187, 0.5);
        height:180px;
        width: 100%;
    }