    body{
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-image: url();
        color: black;
        background-size: cover;
        font-size: 18px;
    }
    header{
        width:100%;
    }
    .header{
        background-color: rgba(187, 125, 189, 0.8);
        border-radius: 20px;
        max-width:960px;
        height:160px;
    }
    #logo{
        width:300px;
        height:300px;
        border:2px solid gold;
        
        border-radius:50%;
    }
    h1{
       /* background-color:;*/
        font-size: 35px;
        border-radius:20px;
    }
    main{ 
       
        vertical-align:center;
    }
    nav{ max-width:960px;
        font-size: 25px;
    }
    a:visited{
        color:rgb(116, 43, 116);
    }
    a:link{
        color:rgb(144, 104, 238);
    }

    footer{
        background-color: rgba(45, 27, 58, 0.5);
        height:200px;
        width: 100%;
    }